<%= form_for [:user,@map], :url => { :action => "update" } do |f| %>
  <%= f.text_field :name %>
  <%= f.hidden_field :user_id, :value => current_user.id %> 
  <%= f.button :submit %>
<% end %>
<div class="map-background"></div>
<div class="map-canvas"></div>
<div class="control-layer"></div>
<div class="lines-layer">
	<div id="draw-paper"></div>
</div>
<div class="messages-box"></div>
<div class="modal-windows-space"></div>