

<div class="center-table">

<table class="table view-user-table">
              <thead>
                <tr>
                  
                  
                  <th>Map name</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <% @maps.each do |map| %>
                  <tr>

                    
                    <td><%= map.name %></td>
                    
                    <td><%= link_to 'show', user_map_path(map)  , :class => 'btn btn-info' %></td>         

                  </tr>
                <% end %>
                
              </tbody>
</table>
<div>