<div class="context-menu" style="display:none">
	<ul class="dropdown-menu" style="display:block">
		<li>
			<a href="#" class="new-node">
				<i class="icon-chevron-right"></i>
				Add node
			</a>
			<a href="#" class="new-relation">
				<i class="icon-chevron-right"></i>
				Add relation
			</a>
			<a href="#" class="remove-node">
				<i class="icon-chevron-right"></i>
				Remove
			</a>
		</li>
	</ul>
</div>