/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/fontawesome
 */

body {
	margin:0;
	padding: 0;
	font-family: Arial;
}

.map-background {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #f1f1f1;
	z-index: 1;
}

.map-element input.edit-title {
	margin: 0;
	background: #222;
	color: #f1f1f1;
	border: 1px solid #111;
	font-size: 14px;
	margin-top: -8px;
	margin-bottom: -6px;
	border-radius: 10px;
	display: inline;
	padding-left: 8px;
	margin-left: -9px;
	margin-right: -9px;
}

.map-canvas {
	z-index: 20;
	position: relative;
}

.lines-layer {
	position: absolute;
	z-index: 10;
}

.control-layer {
	z-index: 30;
	position: absolute;
}

.messages-box {
	z-index: 30;
	position: absolute;
	top: 10px;
	right: 10px;
}

.control-layer .context-menu {
	position: absolute;
	opacity: 0.9;
}

.map-start {
	left: 500px;
	top: 250px;
}

.map-element {
	background: #333;
	color: #fff;
	font-size: 14px;
	padding: 10px 15px;
	border-radius: 13px;
	z-index: 10;
	cursor: pointer;
	display: inline-block;
}

.map-element-children {
	display: inline-block;
	position: relative;
}

.map-element-children .map-element,
.map-element-children .map-element-container
{
	position: relative;
}

.map-element-children .map-element {
	background: none;
	border: 0;
	color: #333;
	font-size: 12px;
	border-bottom: solid 2px #666;
	border-radius: 0;
}

.map-element-container {
	position: absolute;
	z-index: 21;
	opacity: 0.95;
}

.map-element-container.edit-on {
	z-index: 22;
}

.map-element-primary {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006DCC;
	background-image: -moz-linear-gradient(top, #08C, #04C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C));
	background-image: -webkit-linear-gradient(top, #08C, #04C);
	background-image: -o-linear-gradient(top, #08C, #04C);
	background-image: linear-gradient(to bottom, #08C, #04C);
	background-repeat: repeat-x;
	border-color: #04C #04C #002A80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.map-curve {
	position: absolute;
	z-index: 9;
}

#element-2 {
	top: 340px;
	left: 640px;
}

#element-3 {
	top: 340px;
	left: 840px;
}

#element-4 {
	top: 280px;
	left: 840px;
}

.map-element-container.highlight .map-element {
	background: #0088cc !important ;
}

.messages-box {
	width: 350px;
}

.messages-box .message {
	display: block;
	padding: 8px 14px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.messages-box .message p {
	margin: 0;
	padding: 0;
}

.map-element-relation-label {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	padding: 5px 12px;
	font-size: 12px;
	z-index: 10;
	cursor: pointer;
	display: inline-block;

}

.map-element-relation-label input.edit-title {
	margin: 0;
	background: #222;
	color: #f1f1f1;
	border: 1px solid #111;
	margin-top: -8px;
	margin-bottom: -6px;
	border-radius: 10px;
	display: inline;
	padding-left: 8px;
	margin-left: -9px;
	margin-right: -9px;
	font-size: 12px;
	height: 14px;
}

.modal-window-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 0.5;
	z-index: 100;
}

.modal-window-box {
	position: absolute;
	width: 50%;
	height: auto;
	z-index: 110;
	background: #fff;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	padding: 20px;
	border-radius: 10px;
}

.modal-window-box .modal-window-close {
	display: none;
}

.modal-window-box table {
	width: 100%;
	margin-bottom: 0 !important;
}

table.view-user-table {
	width:500px;
}
div.center-table {width:500px; margin:0 auto; text-align: center;}
.hero-unit.main {margin-top:50px}
.input-text-name {margin-top: 10px;}


